.DS_Store
settings-development.json
settings-production.json
npm-debug.log

node_modules

screenshots
screenshots/*
nightwatch/logs/*.log
reports
reports/*

settings.json

packages/*

version.desktop
.desktop
