html {
  position: 'fixed';
  height: '100%';
  overflow: 'hidden';
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


.notificationMenu{
    min-width: 300px;
  }
  

div.filepicker{
  margin-bottom: '40px !important';
  min-height: '200px !important'
}

.imageVideoLightbox{
  background-color: rgba(0,0,0,.8) !important;
}

// .jss1{
//   top: '64px' !important;
// }

.reactImageVideoLightboxRow div div{
  top: '40px' !important;
}

