

.orbital{
  -moz-user-select: 'none';
  -webkit-user-select: 'none';
  -ms-user-select: 'none';
  -o-user-select: 'none';
  user-select: 'none';
  min-width: '600px';
}

#app{
  height: '100%';
  width: 100%;
  overflow: 'hidden';
  padding: 0;
  margin: 0;
  -moz-user-select: 'none';
  -webkit-user-select: 'none';
  -ms-user-select: 'none';
  -o-user-select: 'none';
  user-select: 'none';
  min-width: '600px';
}

body{
  background-color: '#0D1214'
}
