{
  "rules": {
    "strict": 0,
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used" }],
    "react/jsx-uses-vars": 1
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  parserOptions: {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "modules": true
    }
  },
  "plugins": [
    "react",
    "meteor"
  ],
  "globals": {
    "Meteor": true,
    "Random": true,
    "Roles": true,
    "React": true,
    "Session": true,
    "HipaaLogger": true,
    "CarePlans": true,
    "Conditions": true,
    "Devices": true,
    "Encounters": true,
    "Goals": true,
    "Observations": true,
    "Patients": true,
    "Practitioners": true,
    "check": true,
    "moment": true,
    "process": true,
    "module": true
  }
}
